@import "src/variables";
.item__container {
  color: $primary;
  list-style: none;
  font-size: 10px;
  max-width: 450px;
  border-bottom: 1px solid $secondary;
  cursor: pointer;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
}

.item__description--hidden {
  color: $secondary;
  font-size: 12px;
  margin-top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s linear;
}

.item__description {
  visibility: visible;
  opacity: 1;
  height: 100%;
}
