@import "src/variables";
.item__container {
  color: $primary;
  list-style: none;
  font-size: 10px;
  max-width: 300px;
  border-bottom: 1px solid $secondary;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__description {
  color: $secondary;
  font-size: 12px;
  margin-top: 0;
}
