* {
  box-sizing: border-box;
}

.spinner {
  display: flex;
  justify-content: center;
}

.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    padding: 0;
  }
}
