* {
  box-sizing: border-box;
  font-family: "Roboto";
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.header__title {
  @media all and(max-width: 768px) {
    width: 70%;
  }
}
